source/views/about-us.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.about-us
      section.about-us__banner
        .container.h-100
          .row.bottom-xs.h-100
            .col-xs-12.col-md-8
              h2.about-us__banner__header Кто мы
              p Мы начинали в 1998 году. В то время мы торговали оборудованием с «прилавка». Постепенно, наращивая объемы продаж мы осознали ответственность перед покупателями и начали инвестировать в специалистов для того, чтобы предлагать лучшие инженерные и технические решения.
              
      .container
        .row
          .col-xs-12.col-md-5 
            h2.about-us__mission__header Миссия
            p Наша миссия в проектировании, поставках и монтаже систем холодоснабжения с самым высоким качеством всех вышеперечисленных благ.  Мы хотим добиться максимального удовлетворения потребностей покупателей и обеспечить процветание компании и ее служащих.
          .col-md-1
          .col-xs-12.col-md-5
            h2.about-us__mission__header Чем мы полезны для вас?
            p Возьмём техническое задание или поможем его составить, подберем несколько вариантов оборудования, ответим на вопросы, поставим и смонтируем.
          .col-md-1

      section.about-us__directions
        .container
          .row
            .col-xs-12
              h3.about-us__directions__header Направления деятельности
          .row
            .col-xs-12.col-md-9
              .about-us__directions__content
                p — Оснащение магазинов (стеллажное и торговое холодильное оборудование)
                p — Оснащение промышленных предприятий (льдоаккумуляторы, установки получения ледяной воды, чиллеры, оснащение камер хранения и охлаждения, шоковой заморозки)
                p — Монтаж холодильного оборудования (в том числе аммиачных холодильных установок)
                p — Проектирование (холодоснабжение, отопление и вентиляция, автоматизация), в том числе проекты на демонтажа, реконструкция и монтажа предпрятий, работающих на аммиачном оборудовании
            
                a.show-more-link.light href="#" Смотреть проекты
      
      .container
        .row.center-xs
          .col-xs-12
            h2.headquoter__header Руководство компании
        .row
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter1.jpg"
              .headquoter__item__name Рыбников Андрей
              .headquoter__item__position Учредитель
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter2.jpg"
              .headquoter__item__name Гуляр Константин
              .headquoter__item__position Технический директор
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter3.jpg"
              .headquoter__item__name Гуляр Дмитрий
              .headquoter__item__position Коммерческий директор
          .col-xs-12.col-sm-6.col-md-3
            .headquoter__item
              figure.headquoter__item__image
                img src="images/headquoter4.jpg"
              .headquoter__item__name Рябов Владислав
              .headquoter__item__position Начальник отдела продаж
                
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})

dest/about-us.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="about-us"><section class="about-us__banner"><div class="container h-100"><div class="row bottom-xs h-100"><div class="col-xs-12 col-md-8"><h2 class="about-us__banner__header">Кто мы</h2><p>Мы начинали в 1998 году. В то время мы торговали оборудованием с «прилавка». Постепенно, наращивая объемы продаж мы осознали ответственность перед покупателями и начали инвестировать в специалистов для того, чтобы предлагать лучшие инженерные и технические решения.</p></div></div></div></section><div class="container"><div class="row"><div class="col-xs-12 col-md-5"><h2 class="about-us__mission__header">Миссия</h2><p>Наша миссия в проектировании, поставках и монтаже систем холодоснабжения с самым высоким качеством всех вышеперечисленных благ.  Мы хотим добиться максимального удовлетворения потребностей покупателей и обеспечить процветание компании и ее служащих.</p></div><div class="col-md-1"></div><div class="col-xs-12 col-md-5"><h2 class="about-us__mission__header">Чем мы полезны для вас?</h2><p>Возьмём техническое задание или поможем его составить, подберем несколько вариантов оборудования, ответим на вопросы, поставим и смонтируем.</p></div><div class="col-md-1"></div></div></div><section class="about-us__directions"><div class="container"><div class="row"><div class="col-xs-12"><h3 class="about-us__directions__header">Направления деятельности</h3></div></div><div class="row"><div class="col-xs-12 col-md-9"><div class="about-us__directions__content"><p>— Оснащение магазинов (стеллажное и торговое холодильное оборудование)</p><p>— Оснащение промышленных предприятий (льдоаккумуляторы, установки получения ледяной воды, чиллеры, оснащение камер хранения и охлаждения, шоковой заморозки)</p><p>— Монтаж холодильного оборудования (в том числе аммиачных холодильных установок)</p><p>— Проектирование (холодоснабжение, отопление и вентиляция, автоматизация), в том числе проекты на демонтажа, реконструкция и монтажа предпрятий, работающих на аммиачном оборудовании</p><a class="show-more-link light" href="#">Смотреть проекты</a></div></div></div></div></section><div class="container"><div class="row center-xs"><div class="col-xs-12"><h2 class="headquoter__header">Руководство компании</h2></div></div><div class="row"><div class="col-xs-12 col-sm-6 col-md-3"><div class="headquoter__item"><figure class="headquoter__item__image"><img src="images/headquoter1.jpg" /></figure><div class="headquoter__item__name">Рыбников Андрей</div><div class="headquoter__item__position">Учредитель</div></div></div><div class="col-xs-12 col-sm-6 col-md-3"><div class="headquoter__item"><figure class="headquoter__item__image"><img src="images/headquoter2.jpg" /></figure><div class="headquoter__item__name">Гуляр Константин</div><div class="headquoter__item__position">Технический директор</div></div></div><div class="col-xs-12 col-sm-6 col-md-3"><div class="headquoter__item"><figure class="headquoter__item__image"><img src="images/headquoter3.jpg" /></figure><div class="headquoter__item__name">Гуляр Дмитрий</div><div class="headquoter__item__position">Коммерческий директор</div></div></div><div class="col-xs-12 col-sm-6 col-md-3"><div class="headquoter__item"><figure class="headquoter__item__image"><img src="images/headquoter4.jpg" /></figure><div class="headquoter__item__name">Рябов Владислав</div><div class="headquoter__item__position">Начальник отдела продаж</div></div></div></div></div></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>
