dest/article.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="articles"><div class="container"><div class="row"><div class="col-xs-12 col-md-8"><h1 class="h2">Полугерметичный компрессор с воздушным охлаждением SGH PB Plusbox</h1></div></div></div><div class="articles__slider__wrapper"><div class="object__gallery-slider articles__slider"><div><img src="images/article-page.jpg" /><div class="container"><div class="object__gallery-slider__text">Описание слайда</div></div></div><div><img src="images/article-page.jpg" /><div class="container"><div class="object__gallery-slider__text">Описание слайда</div></div></div><div><img src="images/article-page.jpg" /><div class="container"><div class="object__gallery-slider__text">Описание слайда</div></div></div><div><img src="images/article-page.jpg" /><div class="container"><div class="object__gallery-slider__text">Описание слайда</div></div></div></div></div><div class="container"><div class="row between-md"><div class="col-xs-12 col-md-8"><p>С выпуском компрессора Plusbox компания GEA впервые представляет линейку модульных компрессорно-конденсаторных агрегатов для эксплуатации на открытом воздухе, созданных на базе полугерметичных коммерческих компрессоров и конденсаторов GEA.</p><p>Серия модульных комплектов новых компрессорно-конденсаторных агрегатов Plusbox дает производителю возможность специальной компоновки агрегата Plusbox в соответствии с необходимыми ему требованиями. Таким образом он может определить комплект поставки и имеет, например, возможность выбора системы управления, которая является наиболее оптимальной для поставляемого им оборудования.</p></div><div class="col-xs-12 col-md-3"></div></div></div><div class="youtube-video"><iframe width="100%" height="550" src="https://www.youtube.com/embed/XV1M4Pwx-Ik?list=PLDyvV36pndZHfBThhg4Z0822EEG9VGenn" frameborder="0" allowfullscreen></iframe><div class="container"><div class="object__gallery-slider__text">Оригинал фото и статьи на сайте www.gea.com/ru/products/shg-pb-plusbox.jsp</div></div></div><div class="container"><div class="row between-md"><div class="col-xs-12 col-md-8"><p>Дополнительную информацию о компрессоре SHG PB Plusbox (например, технические характеристики/производительность, чертежи, перечни запасных компонентов, ограничения на условия эксплуатации) можно найти в прикладной программе выбора компрессоров VAP по следующей ссылке: VAP – выбор компрессора, модель SHG PB Plusbox.</p><blockquote> «Расширение линейки моделей компрессоров Plusbox с более высокой или более низкой хладопроизводительностью планируется в ближайшем будущем. »</blockquote><p>На начальном этапе компания GEA предлагает базовую версию компрессорно-конденсаторного агрегата Plusbox с коммерческими компрессорами HG34e, которая соответствует хладопроизводительности от 10 до 15 кВт при нормальных режимах охлаждения (R404a при температуре испарения -10° C и температуре окружающего воздуха 32° C).</p></div><div class="col-xs-12 col-md-3"><p><strong>Технические<br/> характеристики</strong></p><p>Производительность от 5 до 25 кВт<br/>Расход воздуха до 5 куб. м / час<br/> Потребление энергии класса A++<br/>KVR и NRD стандартные опции</p></div></div></div><article class="articles__downloads"><div class="container"><div class="row"><div class="col-xs-12"><h3>Загрузки</h3></div></div><div class="row"><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item pdf" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item doc" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item xls" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div></div></div></article><article class="articles__contact-us"><div class="container"><div class="row middle-xs"><div class="col-xs-12 col-md-3"><p>Сотрудник отдела продаж<br/> Рыбников Вениамин</p></div><div class="col-xs-12 col-md-3"><p>+7 (922) 617-32-14</p></div><div class="col-xs-12 col-md-3"><p>veniamin.ribnikov@aesgroup.ru</p></div></div></div></article><section class="articles__similar"><div class="container"><h3 class="articles__similar__header">Другие статьи</h3></div><div class="container"><div class="row"><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles4.jpg" /></figure><div class="articles__similar-item__header">Bitzer запускает в производство винтовые компрессора на HFO смесях</div><div class="articles__similar-item__text">Мощность от 50 кВт до 1,5 мВт.</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles5.jpg" /></figure><div class="articles__similar-item__header">Полугерметичный компрессор с воздушным охлаждением SHG PB Plusbox</div><div class="articles__similar-item__text">Всё о новой линейке компрессорно-конденсаторных блоков GEA.</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles6.jpg" /></figure><div class="articles__similar-item__header">Обзор линейки промышленных кубических потолочных воздухоохладителей Goedhart VCI</div><div class="articles__similar-item__text">Техническая информация и обзор испарителей Goedhart VCI.</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles7.jpg" /></figure><div class="articles__similar-item__header">Как устроена работа в супермаркете?</div><div class="articles__similar-item__text">Почему из всех касс работает всего несколько, куда девается «просрочка»?</div></a></div></div></div></section></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/article.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.articles
      .container
        .row  
          .col-xs-12.col-md-8
            h1.h2 Полугерметичный компрессор с воздушным охлаждением SGH PB Plusbox
      .articles__slider__wrapper
        .object__gallery-slider.articles__slider
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда
          div
            img src="images/article-page.jpg"
            .container
              .object__gallery-slider__text Описание слайда

      .container
        .row.between-md
          .col-xs-12.col-md-8
            p С выпуском компрессора Plusbox компания GEA впервые представляет линейку модульных компрессорно-конденсаторных агрегатов для эксплуатации на открытом воздухе, созданных на базе полугерметичных коммерческих компрессоров и конденсаторов GEA.
            p Серия модульных комплектов новых компрессорно-конденсаторных агрегатов Plusbox дает производителю возможность специальной компоновки агрегата Plusbox в соответствии с необходимыми ему требованиями. Таким образом он может определить комплект поставки и имеет, например, возможность выбора системы управления, которая является наиболее оптимальной для поставляемого им оборудования.
          .col-xs-12.col-md-3
      .youtube-video
        | <iframe width="100%" height="550" src="https://www.youtube.com/embed/XV1M4Pwx-Ik?list=PLDyvV36pndZHfBThhg4Z0822EEG9VGenn" frameborder="0" allowfullscreen></iframe>
        .container
          .object__gallery-slider__text Оригинал фото и статьи на сайте www.gea.com/ru/products/shg-pb-plusbox.jsp
      .container
        .row.between-md
          .col-xs-12.col-md-8
            p Дополнительную информацию о компрессоре SHG PB Plusbox (например, технические характеристики/производительность, чертежи, перечни запасных компонентов, ограничения на условия эксплуатации) можно найти в прикладной программе выбора компрессоров VAP по следующей ссылке: VAP – выбор компрессора, модель SHG PB Plusbox.
            blockquote  «Расширение линейки моделей компрессоров Plusbox с более высокой или более низкой хладопроизводительностью планируется в ближайшем будущем. »
            p На начальном этапе компания GEA предлагает базовую версию компрессорно-конденсаторного агрегата Plusbox с коммерческими компрессорами HG34e, которая соответствует хладопроизводительности от 10 до 15 кВт при нормальных режимах охлаждения (R404a при температуре испарения -10° C и температуре окружающего воздуха 32° C).

          .col-xs-12.col-md-3
            p
              strong 
                | Технические<br/> характеристики
            p 
              | Производительность от 5 до 25 кВт<br/>Расход воздуха до 5 куб. м / час<br/> Потребление энергии класса A++<br/>KVR и NRD стандартные опции
          
      article.articles__downloads
        .container
          .row
            .col-xs-12
              h3 Загрузки
          .row
            .col-xs-12.col-sm-6.col-md-3
              a.files__item.pdf href="#"
                .files__item__name Письмо благодарности "Гипербола"
                .files__item__size 2.2 Мб
            .col-xs-12.col-sm-6.col-md-3
              a.files__item.doc href="#"
                .files__item__name Письмо благодарности "Гипербола"
                .files__item__size 2.2 Мб
            .col-xs-12.col-sm-6.col-md-3
              a.files__item.xls href="#"
                .files__item__name Письмо благодарности "Гипербола"
                .files__item__size 2.2 Мб
      article.articles__contact-us
        .container
          .row.middle-xs
            .col-xs-12.col-md-3
              p 
                | Сотрудник отдела продаж<br/> Рыбников Вениамин
            .col-xs-12.col-md-3
              p +7 (922) 617-32-14
            .col-xs-12.col-md-3
              p veniamin.ribnikov@aesgroup.ru

      section.articles__similar
        .container
          h3.articles__similar__header Другие статьи
        .container
          .row
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles4.jpg"
                .articles__similar-item__header Bitzer запускает в производство винтовые компрессора на HFO смесях
                .articles__similar-item__text Мощность от 50 кВт до 1,5 мВт.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles5.jpg"
                .articles__similar-item__header Полугерметичный компрессор с воздушным охлаждением SHG PB Plusbox
                .articles__similar-item__text Всё о новой линейке компрессорно-конденсаторных блоков GEA.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles6.jpg"
                .articles__similar-item__header Обзор линейки промышленных кубических потолочных воздухоохладителей Goedhart VCI
                .articles__similar-item__text Техническая информация и обзор испарителей Goedhart VCI.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles7.jpg"
                .articles__similar-item__header Как устроена работа в супермаркете?
                .articles__similar-item__text Почему из всех касс работает всего несколько, куда девается «просрочка»?


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
