dest/articles.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="articles"><div class="container"><div class="row"><div class="col-xs-12"><nav class="services__menu"><ul class="services__menu__list"><li class="services__menu__item"><a class="services__menu__link active" href="#">Все статьи</a></li><li class="services__menu__item"><a class="services__menu__link" href="#">Ритейл </a></li><li class="services__menu__item"><a class="services__menu__link" href="#">Мясокомбинаты </a></li><li class="services__menu__item"><a class="services__menu__link" href="#">Птицефабрика </a></li><li class="services__menu__item"><a class="services__menu__link" href="#">Рыбозавод</a></li></ul></nav></div></div></div><div class="container"><div class="row between-md"><div class="col-xs-7"><a class="articles__item articles__item--big"><figure class="articles__item__image"><img src="images/article1.jpg" /></figure><div class="articles__item__header">Методика подбора пластинчатых теплообменников и комплексного оборудования</div><div class="articles__item__description">Выбор алгоритма подбора определяется степенью вашей технической подготовки и опыта работы с пластинчатым теплообменным оборудованием, что позволяет упомянутую исходную информацию конкретизировать в должном объеме. За несколько последовательных шагов Вы придете к рекомендуемой нами спецификации на изготовление теплообменного аппарата.</div></a></div><div class="col-xs-4"><a class="articles__item"><figure class="articles__item__image"><img src="images/article2.jpg" /></figure><div class="articles__item__header">Методика подбора пластинчатых теплообменников и комплексного оборудования</div></a><a class="articles__item"><figure class="articles__item__image"><img src="images/article3.jpg" /></figure><div class="articles__item__header">Методика подбора пластинчатых теплообменников и комплексного оборудования</div></a></div></div></div><section class="articles__similar"><div class="container"><div class="row"><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles4.jpg" /></figure><div class="articles__similar-item__header">Bitzer запускает в производство винтовые компрессора на HFO смесях</div><div class="articles__similar-item__text">Мощность от 50 кВт до 1,5 мВт.</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles5.jpg" /></figure><div class="articles__similar-item__header">Полугерметичный компрессор с воздушным охлаждением SHG PB Plusbox</div><div class="articles__similar-item__text">Всё о новой линейке компрессорно-конденсаторных блоков GEA.</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles6.jpg" /></figure><div class="articles__similar-item__header">Обзор линейки промышленных кубических потолочных воздухоохладителей Goedhart VCI</div><div class="articles__similar-item__text">Техническая информация и обзор испарителей Goedhart VCI.</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="articles__similar-item" href="#"><figure class="articles__similar-item__image"><img src="images/articles7.jpg" /></figure><div class="articles__similar-item__header">Как устроена работа в супермаркете?</div><div class="articles__similar-item__text">Почему из всех касс работает всего несколько, куда девается «просрочка»?</div></a></div></div></div></section></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/articles.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.articles
      .container
        .row
          .col-xs-12
            nav.services__menu
              ul.services__menu__list
                li.services__menu__item
                  a.services__menu__link.active href="#" Все статьи
                li.services__menu__item
                  a.services__menu__link href="#" Ритейл 
                li.services__menu__item
                  a.services__menu__link href="#" Мясокомбинаты 
                li.services__menu__item
                  a.services__menu__link href="#" Птицефабрика 
                li.services__menu__item
                  a.services__menu__link href="#" Рыбозавод
      .container
        .row.between-md
          .col-xs-7
            a.articles__item.articles__item--big
              figure.articles__item__image
                img src="images/article1.jpg"
              .articles__item__header Методика подбора пластинчатых теплообменников и комплексного оборудования
              .articles__item__description Выбор алгоритма подбора определяется степенью вашей технической подготовки и опыта работы с пластинчатым теплообменным оборудованием, что позволяет упомянутую исходную информацию конкретизировать в должном объеме. За несколько последовательных шагов Вы придете к рекомендуемой нами спецификации на изготовление теплообменного аппарата.
          .col-xs-4
            a.articles__item
              figure.articles__item__image
                img src="images/article2.jpg"
              .articles__item__header Методика подбора пластинчатых теплообменников и комплексного оборудования
            a.articles__item
              figure.articles__item__image
                img src="images/article3.jpg"
              .articles__item__header Методика подбора пластинчатых теплообменников и комплексного оборудования
      section.articles__similar
        .container
          .row
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles4.jpg"
                .articles__similar-item__header Bitzer запускает в производство винтовые компрессора на HFO смесях
                .articles__similar-item__text Мощность от 50 кВт до 1,5 мВт.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles5.jpg"
                .articles__similar-item__header Полугерметичный компрессор с воздушным охлаждением SHG PB Plusbox
                .articles__similar-item__text Всё о новой линейке компрессорно-конденсаторных блоков GEA.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles6.jpg"
                .articles__similar-item__header Обзор линейки промышленных кубических потолочных воздухоохладителей Goedhart VCI
                .articles__similar-item__text Техническая информация и обзор испарителей Goedhart VCI.
            .col-xs-12.col-sm-6.col-md-3
              a.articles__similar-item href="#"
                figure.articles__similar-item__image
                  img src="images/articles7.jpg"
                .articles__similar-item__header Как устроена работа в супермаркете?
                .articles__similar-item__text Почему из всех касс работает всего несколько, куда девается «просрочка»?

  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
