dest/equipment.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="equipment"><div class="container"><div class="row center-xs ta-left"><div class="col-xs-12 col-md-10"><h1 class="h2">Витрины "Magma"</h1></div></div></div><div class="equipment__block"><div class="container"><div class="row between-md"><div class="col-xs-12 col-md-8"><p>Торговое холодильное оборудование MAGMA - это оборудование с низким энергопотреблением, что важно в эпоху ограничения энергетических и других природных ресурсов и повышения стоимости на них. Низкое энергопотребление торгового холодильного оборудования MAGMA позволяет сэкономить немалые средства владельцам магазинов.</p><p>Торговое оборудование Магма соответствует требованиям международных стандартов качества и безопасности. Это подтверждают европейские сертификаты, дающие право на маркировку оборудования ТОРГОВОЙ МАРКИ «MAGMA» знаком соответствия.</p></div><div class="col-xs-12 col-md-3"><div class="h2 files__header">Загрузки</div><a class="files__item pdf" href="#"><div class="files__item__name">Характеристики и внешний вид оборудования "Magma"</div><div class="files__item__size">2.8 Мб</div></a></div></div></div></div><div class="equipment__block"><div class="container"><div class="row"><div class="col-xs-12 col-md-6"><div class="equipment__block__content"><h3>Преимущества витрин "Magma"</h3><p>— Максимальные возможности загрузки и выкладки</p><p>— Эффективное использование пространства</p><p>— Возможности выкладки увеличены на 25%*</p><p>— Эргономичный плоский дизайн</p><p>— Открытая экспозиция</p><p>— Большая близость к покупателю</p><p>— Безупречная стыковка в линию</p><p>— Высокая эффективность охлаждения</p></div></div><div class="col-xs-12 col-md-6 first-md"><div class="object__gallery-slider"><div><figure class="equipment__slider" style="background-image: url(images/object-gallery-3.jpg)"></figure><div class="object__gallery-slider__text">Витрина Беверли</div></div><div><figure class="equipment__slider" style="background-image: url(images/object-gallery-3.jpg)"></figure><div class="object__gallery-slider__text">Витрина Беверли</div></div><div><figure class="equipment__slider" style="background-image: url(images/object-gallery-3.jpg)"></figure><div class="object__gallery-slider__text">Витрина Беверли</div></div><div><figure class="equipment__slider" style="background-image: url(images/object-gallery-3.jpg)"></figure><div class="object__gallery-slider__text">Витрина Беверли</div></div></div></div></div></div></div><section class="params" id="params"><div class="container"><div class="row"><div class="col-xs-12"><ul class="params__menu"><li class="params__menu__item"><a class="params__menu__link" href="#characteristics">Характеристики</a></li><li class="params__menu__item"><a class="params__menu__link" href="#complectation">Стандартная комплектация</a></li><li class="params__menu__item"><a class="params__menu__link" href="#options">Опции</a></li><li class="params__menu__item"><a class="params__menu__link" href="#photos">Фотографии</a></li></ul></div><div class="col-xs-12"><div class="params__tab" id="characteristics"><table><thead><tr><th>Наименование</th><th>Габариты</th><th>Т. режим</th><th>Объем загрузки, м3</th><th>Холодопро-ть, кВт</th></tr></thead><tbody><tr><td>Берилл, 125г<br/> (гастрономическая закрытая)</td><td>1.25 / 1.19 / 1.21</td><td>+1...+10</td><td>0.97</td><td>0.5</td></tr><tr><td>Берилл, 125г<br/> (гастрономическая закрытая)</td><td>1.25 / 1.19 / 1.21</td><td>+1...+10</td><td>0.97</td><td>0.5</td></tr><tr><td>Берилл, 125г<br/> (гастрономическая закрытая)</td><td>1.25 / 1.19 / 1.21</td><td>+1...+10</td><td>0.97</td><td>0.5</td></tr><tr><td>Берилл, 125г<br/> (гастрономическая закрытая)</td><td>1.25 / 1.19 / 1.21</td><td>+1...+10</td><td>0.97</td><td>0.5</td></tr></tbody></table></div><div class="params__tab" id="complectation"><p>— Фруктовый комплект, мясные крюки и проволочные ограничители на полки высотой 50 мм и 100 мм;</p><p>— Дополнительная энергосберегающая подсветка полок и ночные шторки с магнитной фиксацией;</p><p>— 5 рядов полок по 400 мм с регулируемым наклоном;</p><p>— Ценникодержатели на полках;</p></div><div class="params__tab" id="options"><p>— Фруктовый комплект, мясные крюки и проволочные ограничители на полки высотой 50 мм и 100 мм;</p><p>— Дополнительная энергосберегающая подсветка полок и ночные шторки с магнитной фиксацией;</p><p>— 5 рядов полок по 400 мм с регулируемым наклоном;</p><p>— Ценникодержатели на полках;</p></div><div class="params__tab" id="photos"><div class="row"><div class="col-xs-12 col-sm-6 col-md-4"><figure class="params__photo"><img src="images/equipment-photo1.jpg" /></figure></div><div class="col-xs-12 col-sm-6 col-md-4"><figure class="params__photo"><img src="images/equipment-photo2.jpg" /></figure></div><div class="col-xs-12 col-sm-6 col-md-4"><figure class="params__photo"><img src="images/equipment-photo3.jpg" /></figure></div></div><div class="row"><div class="col-xs-12 col-sm-6 col-md-4"><figure class="params__photo"><img src="images/equipment-photo4.jpg" /></figure></div><div class="col-xs-12 col-sm-6 col-md-4"><figure class="params__photo"><img src="images/equipment-photo5.jpg" /></figure></div><div class="col-xs-12 col-sm-6 col-md-4"><figure class="params__photo"><img src="images/equipment-photo6.jpg" /></figure></div></div></div></div></div></div></section><div class="container"><div class="row"><div class="col-xs-12"><a class="button-gradient" href="#">Связаться</a></div></div></div></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/equipment.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.equipment
      .container
        .row.center-xs.ta-left
          .col-xs-12.col-md-10
            h1.h2 Витрины "Magma"
      .equipment__block
        .container
          .row.between-md
            .col-xs-12.col-md-8
              p Торговое холодильное оборудование MAGMA - это оборудование с низким энергопотреблением, что важно в эпоху ограничения энергетических и других природных ресурсов и повышения стоимости на них. Низкое энергопотребление торгового холодильного оборудования MAGMA позволяет сэкономить немалые средства владельцам магазинов.
              p Торговое оборудование Магма соответствует требованиям международных стандартов качества и безопасности. Это подтверждают европейские сертификаты, дающие право на маркировку оборудования ТОРГОВОЙ МАРКИ «MAGMA» знаком соответствия.
            .col-xs-12.col-md-3
              .h2.files__header Загрузки
              a.files__item.pdf href="#"
                .files__item__name Характеристики и внешний вид оборудования "Magma"
                .files__item__size 2.8 Мб

      .equipment__block
        .container
          .row
            .col-xs-12.col-md-6
              div.equipment__block__content
                h3 Преимущества витрин "Magma"
                p — Максимальные возможности загрузки и выкладки
                p — Эффективное использование пространства
                p — Возможности выкладки увеличены на 25%*
                p — Эргономичный плоский дизайн
                p — Открытая экспозиция
                p — Большая близость к покупателю
                p — Безупречная стыковка в линию
                p — Высокая эффективность охлаждения
            .col-xs-12.col-md-6.first-md
              .object__gallery-slider
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
                div
                  figure.equipment__slider style="background-image: url(images/object-gallery-3.jpg)"
                  .object__gallery-slider__text Витрина Беверли
      
      section.params#params
        .container
          .row
            .col-xs-12
              ul.params__menu
                li.params__menu__item
                  a.params__menu__link href="#characteristics" Характеристики
                li.params__menu__item
                  a.params__menu__link href="#complectation" Стандартная комплектация
                li.params__menu__item
                  a.params__menu__link href="#options" Опции
                li.params__menu__item
                  a.params__menu__link href="#photos" Фотографии
            .col-xs-12
              .params__tab#characteristics
                table
                  thead
                    tr
                      th Наименование
                      th Габариты
                      th Т. режим
                      th Объем загрузки, м3
                      th Холодопро-ть, кВт
                  tbody
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
                    tr
                      td 
                        | Берилл, 125г<br/> (гастрономическая закрытая)
                      td 1.25 / 1.19 / 1.21
                      td +1...+10
                      td 0.97
                      td 0.5
              .params__tab#complectation
                p — Фруктовый комплект, мясные крюки и проволочные ограничители на полки высотой 50 мм и 100 мм;
                p — Дополнительная энергосберегающая подсветка полок и ночные шторки с магнитной фиксацией;
                p — 5 рядов полок по 400 мм с регулируемым наклоном;
                p — Ценникодержатели на полках;
              .params__tab#options
                p — Фруктовый комплект, мясные крюки и проволочные ограничители на полки высотой 50 мм и 100 мм;
                p — Дополнительная энергосберегающая подсветка полок и ночные шторки с магнитной фиксацией;
                p — 5 рядов полок по 400 мм с регулируемым наклоном;
                p — Ценникодержатели на полках;
              .params__tab#photos
                .row
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo1.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo2.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo3.jpg"
                .row
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo4.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo5.jpg"
                  .col-xs-12.col-sm-6.col-md-4
                    figure.params__photo
                      img src="images/equipment-photo6.jpg"
                

      .container
        .row
          .col-xs-12
            a.button-gradient href="#" Связаться
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
