dest/error404.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="error-404"><div class="container"><div class="row center-xs start-md"><div class="col-xs-12 col-md-5"><h1 class="error-404__header">Ошибка 404</h1><h3 class="error-404__subheader">Страница не найдена, <a href="">свяжитесь</a> с нами.</h3></div><div class="col-xs-12 col-md-7"><figure class="error-404__image"><img src="images/404-icon.gif" /></figure></div></div></div></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/error404.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.error-404
      .container
        .row.center-xs.start-md
          .col-xs-12.col-md-5
            h1.error-404__header Ошибка 404
            h3.error-404__subheader
              | Страница не найдена, <a href="">свяжитесь</a> с нами.
          .col-xs-12.col-md-7
            figure.error-404__image
              img src="images/404-icon.gif"

  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
