dest/main_page.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="main-banner"><div class="container"><div class="row middle-xs between-md"><div class="col-xs-12 col-md-5"><h1 class="main-banner__header">Холодильное оборудование</h1><div class="row"><div class="col-xs-12 col-sm-6"><a class="main-banner__subheader-link shops-link" href="#">Для магазинов</a></div><div class="col-xs-12 col-sm-6"><a class="main-banner__subheader-link factories-link" href="#">Для предприятий</a></div></div><div class="main-banner__text"><p>Мы проектируем, поставляем и монтируем холодильное оборудование от магазинов у дома до гипермаркетов и промышленных предприятий и логистических центров</p></div><a class="show-more-link" href="#">Смотреть проекты</a></div><div class="col-xs-12 col-md-6"><figure class="main-banner__image"><img src="images/main-banner-image.gif" /></figure></div></div></div></article><article class="stages"><div class="container"><div class="row center-xs"><div class="col-xs-12"><h2 class="stages__header h1">Этапы работы</h2></div></div><div class="row center-xs"><div class="col-xs-12 col-md-9"><ul class="stages__tabs hidden visible-sm"><li class="stages__tabs__item"><a class="stages__type" href="#stage1">Обследование и сбор данных</a></li><li class="stages__tabs__item"><a class="stages__type" href="#stage2">Подбор оборудования</a></li><li class="stages__tabs__item"><a class="stages__type" href="#stage3">Разработка документации</a></li><br /><li class="stages__tabs__item"><a class="stages__type" href="#stage4">Поставка и монтаж</a></li><li class="stages__tabs__item"><a class="stages__type" href="#stage5">Пусконаладка</a></li><li class="stages__tabs__item"><a class="stages__type" href="#stage6">Поддержка</a></li></ul></div></div><div class="row center-xs"><div class="col-xs-12 col-md-9"><div class="stages__content"><div class="stages__content__item" id="stage1"><div class="row"><div class="col-xs-12 col-md-7"><h3 class="stages__content__header">Обследование и сбор данных</h3><p class="stages__content__text">Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.</p></div><div class="col-xs-12 col-md-5"><figure class="stages__content__image"><img loop="infinite" src="images/stage1-img.gif" /></figure></div></div></div><div class="stages__content__item" id="stage2"><div class="row"><div class="col-xs-12 col-md-7"><h3 class="stages__content__header">Подбор оборудования</h3><p class="stages__content__text">Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.</p></div><div class="col-xs-12 col-md-5"><figure class="stages__content__image"><img loop="infinite" src="images/stage2-img.gif" /></figure></div></div></div><div class="stages__content__item" id="stage3"><div class="row"><div class="col-xs-12 col-md-7"><h3 class="stages__content__header">Разработка документации</h3><p class="stages__content__text">Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.</p></div><div class="col-xs-12 col-md-5"><figure class="stages__content__image"><img loop="infinite" src="images/stage3-img.gif" /></figure></div></div></div><div class="stages__content__item" id="stage4"><div class="row"><div class="col-xs-12 col-md-7"><h3 class="stages__content__header">Поставка и монтаж</h3><p class="stages__content__text">Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.</p></div><div class="col-xs-12 col-md-5"><figure class="stages__content__image"><img loop="infinite" src="images/stage4-img.gif" /></figure></div></div></div><div class="stages__content__item" id="stage5"><div class="row"><div class="col-xs-12 col-md-7"><h3 class="stages__content__header">Пусконаладка</h3><p class="stages__content__text">Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.</p></div><div class="col-xs-12 col-md-5"><figure class="stages__content__image"><img loop="infinite" src="images/stage5-img.gif" /></figure></div></div></div><div class="stages__content__item" id="stage6"><div class="row"><div class="col-xs-12 col-md-7"><h3 class="stages__content__header">Поддержка</h3><p class="stages__content__text">Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.</p></div><div class="col-xs-12 col-md-5"><figure class="stages__content__image"><img loop="infinite" src="images/stage6-img.gif" /></figure></div></div></div></div></div></div></div></article><article class="clients"><div class="container"><div class="row"><div class="col-xs-12"><h2 class="h1 clients__header">Наши клиенты</h2></div></div><div class="row"><div class="col-xs-12 col-sm-6 col-md-4"><a class="clients__item" href="#"><figure class="clients__item__image"><img src="images/client1.png" /></figure><p class="clients__item__header">Поставка торгового оборудования</p><p class="clients__item__text">Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.</p></a></div><div class="col-xs-12 col-sm-6 col-md-4"><a class="clients__item" href="#"><figure class="clients__item__image"><img src="images/client2.png" /></figure><p class="clients__item__header">Оснащение гипермаркета</p><p class="clients__item__text">Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.</p></a></div><div class="col-xs-12 col-sm-6 col-md-4"><a class="clients__item" href="#"><figure class="clients__item__image"><img src="images/client3.png" /></figure><p class="clients__item__header">Холодоснабжение под ключ</p><p class="clients__item__text">Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.</p></a></div></div><div class="row"><div class="col-xs-12 col-sm-6 col-md-4"><a class="clients__item" href="#"><figure class="clients__item__image"><img src="images/client4.png" /></figure><p class="clients__item__header">Новая линейка в семье "Brandford"</p><p class="clients__item__text">Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.</p></a></div><div class="col-xs-12 col-sm-6 col-md-4"><a class="clients__item" href="#"><figure class="clients__item__image"><img src="images/client5.png" /></figure><p class="clients__item__header">Система мониторинга</p><p class="clients__item__text">Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.</p></a></div><div class="col-xs-12 col-sm-6 col-md-4"><a class="clients__item" href="#"><figure class="clients__item__image"><img src="images/client6.png" /></figure><p class="clients__item__header">"Смартори" - для умных покупателей, прям огонь вообще</p><p class="clients__item__text">Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.</p></a></div></div></div></article><article class="about-us"><div class="container"><div class="row"><div class="col-xs-12"><h2 class="h1 about-us__header">Кто мы такие</h2></div></div><div class="row between-xs"><div class="col-xs-12 col-md-7"><p>Торговое Оборудование  — екатеринбургская компания. Мы проектируем, поставляем и монтируем холодильное оборудование от магазинов у дома до гипермаркетов и промышленных предприятий и логистических центров. Работаем с новыми игроками рынка и обновляем действующих: выявляем и считаем потребность в добавлении холодильных мощностей, разрабатываем проекты холодоснабжения и вентиляции, демонтируем устаревшее или опасное оборудование и объединяем производственные площадки любого размера в единую систему мониторинга. </p><p>На счету компании — три тысячи успешных проектов и третьей место российского рейтинга креативности в категории «Холод». В нашем арсенале — команда специалистов с многолетним опытом работы и  поддержка лучших производителей холодильного и теплообменного оборудования. Мы гордимся, что вот уже 17 лет развиваем индустрию холодоснабжения в России. </p></div><div class="col-xs-12 col-md-4"><h3 class="about-us__partners__header">Наши партнеры</h3><div class="row"><div class="col-xs-12 col-md-6"><figure class="about-us__partners__image"><img src="images/partner1.png" /></figure></div><div class="col-xs-12 col-md-6"><figure class="about-us__partners__image"><img src="images/partner2.png" /></figure></div></div><div class="row"><div class="col-xs-12 col-md-6"><figure class="about-us__partners__image"><img src="images/partner3.png" /></figure></div><div class="col-xs-12 col-md-6"><figure class="about-us__partners__image"><img src="images/partner4.png" /></figure></div></div><div class="row"><div class="col-xs-12 col-md-6"><figure class="about-us__partners__image"><img src="images/partner5.png" /></figure></div><div class="col-xs-12 col-md-6"><figure class="about-us__partners__image"><img src="images/partner6.png" /></figure></div></div><a class="show-more-link" href="#">Смотреть проекты</a></div></div></div><div class="container"><div class="row"><div class="col-xs-12"><p class="about-us__location">620088, Россия, г.Екатеринбург ул.Фестивальная, д.5</p></div></div></div></article><article class="questions"><div class="container"><div class="row"><div class="col-xs-12"><h2 class="h1 questions__header">Есть вопросы?</h2></div></div><div class="row between-xs"><div class="col-xs-12 col-md-6"><p class="questions__text">Почитайте нашу документацию про настройку, интеграцию, API и т.п. Посетите наш форум и присоединяйтесь к профессиональному международному сообществу пользователей Flusonic</p></div><div class="col-xs-12 col-md-6"><p class="questions__contacts">Напишите нам <br/>ribikov07@mail.ru<br/>+7 (922) 100-09-18</p></div></div></div></article><article class="news"><div class="container"><div class="row"><div class="col-xs-12"><h2 class="h1 news__header">Новости</h2></div></div><div class="row between-xs"><div class="col-xs-12 col-md-6"><section class="news__item news__item--main"><a class="news__item__link" href="#">Новинки от Alfa Laval</a><div class="news__item__text"><p>На предстоящей выставке Chillventa 2016, которая пройдет с 11 по 13 октября в Нюрнберге, Германия, Альфа Лаваль представит на своем стенде шесть новых продуктов.</p></div></section></div><div class="col-xs-12 col-md-5"><section class="news__item news__item"><a class="news__item__link" href="#">Промышленное охлаждение</a><div class="news__item__text"><p>Альфа Лаваль обеспечивает энергоэффективное охлаждение самых разных производственных помещений и технологических процессов.</p></div></section><section class="news__item news__item"><a class="news__item__link" href="#">Коммерческое охлаждение</a><div class="news__item__text"><p>Оборудование Альфа Лаваль высокого класса энергоэффективности для коммерческих систем охлаждения полностью соответствует и даже превосходит требования международных нормативов по применяемым хладагентам и уровню выбросов.</p></div></section></div></div></div></article><article class="map"><div id="map"></div><script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd_89JTsXRrPtbW3GrV2_2XsIWIkUKSCE&amp;callback=initMap"></script></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/main_page.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.main-banner
      .container
        .row.middle-xs.between-md
          .col-xs-12.col-md-5
            h1.main-banner__header Холодильное оборудование
            .row
              .col-xs-12.col-sm-6
                a.main-banner__subheader-link.shops-link href="#" Для магазинов
              .col-xs-12.col-sm-6
                a.main-banner__subheader-link.factories-link href="#" Для предприятий
            .main-banner__text
              p Мы проектируем, поставляем и монтируем холодильное оборудование от магазинов у дома до гипермаркетов и промышленных предприятий и логистических центров
            a.show-more-link href="#" Смотреть проекты
          .col-xs-12.col-md-6
            figure.main-banner__image
              img src="images/main-banner-image.gif"
    
    article.stages
      .container
        .row.center-xs
          .col-xs-12
            h2.stages__header.h1 Этапы работы
        .row.center-xs
          .col-xs-12.col-md-9
            ul.stages__tabs.hidden.visible-sm
              li.stages__tabs__item
                a.stages__type href="#stage1" Обследование и сбор данных
              li.stages__tabs__item
                a.stages__type href="#stage2" Подбор оборудования
              li.stages__tabs__item
                a.stages__type href="#stage3" Разработка документации
              br/
              li.stages__tabs__item
                a.stages__type href="#stage4" Поставка и монтаж
              li.stages__tabs__item
                a.stages__type href="#stage5" Пусконаладка
              li.stages__tabs__item
                a.stages__type href="#stage6" Поддержка
        .row.center-xs
          .col-xs-12.col-md-9
            .stages__content
              #stage1.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Обследование и сбор данных
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage1-img.gif" loop="infinite"
              #stage2.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Подбор оборудования
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage2-img.gif" loop="infinite"
              #stage3.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Разработка документации
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage3-img.gif" loop="infinite"
              #stage4.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Поставка и монтаж
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage4-img.gif" loop="infinite"
              #stage5.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Пусконаладка
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage5-img.gif" loop="infinite"
              #stage6.stages__content__item
                .row
                  .col-xs-12.col-md-7
                    h3.stages__content__header Поддержка
                    p.stages__content__text Высокая квалификация, опыт и ответственность сотрудников может гарантировать индивидуальное техническое решение для каждого объекта. При расчете холодильного оборудования мы используем современные программы, которые позволяют дать нужный результат. Подбор оборудования делаем с учетом всех пожеланий.
                  .col-xs-12.col-md-5
                    figure.stages__content__image
                      img src="images/stage6-img.gif" loop="infinite"
    
    article.clients
      .container
        .row
          .col-xs-12
            h2.h1.clients__header Наши клиенты
        .row
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client1.png"
              p.clients__item__header Поставка торгового оборудования
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client2.png"
              p.clients__item__header Оснащение гипермаркета
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client3.png"
              p.clients__item__header Холодоснабжение под ключ
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
        .row  
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client4.png"
              p.clients__item__header Новая линейка в семье "Brandford"
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client5.png"
              p.clients__item__header Система мониторинга
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.
          .col-xs-12.col-sm-6.col-md-4
            a.clients__item href="#"
              figure.clients__item__image
                img src="images/client6.png"
              p.clients__item__header "Смартори" - для умных покупателей, прям огонь вообще
              p.clients__item__text Для оснащения торгового зала было выбрано холодильное оборудование и низкотемпературное оборудование Brandford с энергосберегающими покрытиями.

    article.about-us
      .container
        .row
          .col-xs-12
            h2.h1.about-us__header Кто мы такие
        .row.between-xs
          .col-xs-12.col-md-7
            p Торговое Оборудование  — екатеринбургская компания. Мы проектируем, поставляем и монтируем холодильное оборудование от магазинов у дома до гипермаркетов и промышленных предприятий и логистических центров. Работаем с новыми игроками рынка и обновляем действующих: выявляем и считаем потребность в добавлении холодильных мощностей, разрабатываем проекты холодоснабжения и вентиляции, демонтируем устаревшее или опасное оборудование и объединяем производственные площадки любого размера в единую систему мониторинга. 
            p На счету компании — три тысячи успешных проектов и третьей место российского рейтинга креативности в категории «Холод». В нашем арсенале — команда специалистов с многолетним опытом работы и  поддержка лучших производителей холодильного и теплообменного оборудования. Мы гордимся, что вот уже 17 лет развиваем индустрию холодоснабжения в России. 
          .col-xs-12.col-md-4
            h3.about-us__partners__header Наши партнеры
            .row
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner1.png"
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner2.png"
            .row
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner3.png"
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner4.png"
            .row
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner5.png"
              .col-xs-12.col-md-6
                figure.about-us__partners__image
                  img src="images/partner6.png"
            a.show-more-link href="#" Смотреть проекты
      .container
        .row
          .col-xs-12
            p.about-us__location 620088, Россия, г.Екатеринбург ул.Фестивальная, д.5

    article.questions
      .container
        .row
          .col-xs-12
            h2.h1.questions__header Есть вопросы?
        .row.between-xs
          .col-xs-12.col-md-6
            p.questions__text Почитайте нашу документацию про настройку, интеграцию, API и т.п. Посетите наш форум и присоединяйтесь к профессиональному международному сообществу пользователей Flusonic
          .col-xs-12.col-md-6
            p.questions__contacts
             | Напишите нам <br/>ribikov07@mail.ru<br/>+7 (922) 100-09-18
            
    article.news
      .container
        .row
          .col-xs-12
            h2.h1.news__header Новости
        .row.between-xs
          .col-xs-12.col-md-6
            section.news__item.news__item--main
              a.news__item__link href="#" Новинки от Alfa Laval
              .news__item__text
                p На предстоящей выставке Chillventa 2016, которая пройдет с 11 по 13 октября в Нюрнберге, Германия, Альфа Лаваль представит на своем стенде шесть новых продуктов.
          .col-xs-12.col-md-5
            section.news__item.news__item
              a.news__item__link href="#" Промышленное охлаждение
              .news__item__text
                p Альфа Лаваль обеспечивает энергоэффективное охлаждение самых разных производственных помещений и технологических процессов.
            section.news__item.news__item
              a.news__item__link href="#" Коммерческое охлаждение
              .news__item__text
                p Оборудование Альфа Лаваль высокого класса энергоэффективности для коммерческих систем охлаждения полностью соответствует и даже превосходит требования международных нормативов по применяемым хладагентам и уровню выбросов.
    article.map
      #map
      script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd_89JTsXRrPtbW3GrV2_2XsIWIkUKSCE&callback=initMap"
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
