dest/object.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><article class="object"><figure class="object__banner-image"><img src="images/object.jpg" /></figure><div class="container"><div class="row between-md"><div class="col-xs-12"><h2 class="object__header">Гибербола</h2></div><div class="col-xs-12 col-md-7"><p>Комплексная поставка, монтаж и проектирование холодильной системы в «центральный» гипермаркет Екатеринбурга. В результате банкротства торговой сети «Купец», собственники «Гринвича» купили магазин, расположенный в торговом центре и полностью обновили бренд, концепцию развития и торговый зал.</p></div><div class="col-xs-12 col-md-4"><div class="row"><div class="col-xs-12 col-lg-6"><div class="object__achievment-item"><div><span id="month">18</span><br/> месяцев</div></div></div><div class="col-xs-12 col-lg-6"><div class="object__achievment-item"><div><span id="watt">1.5</span><br/> мВт</div></div></div><div class="col-xs-12 col-lg-6"><div class="object__achievment-item"><div><span id="furniture">60</span></br> ед. мебели</div></div></div></div></div></div></div><div class="object__gallery"><div class="row"><div class="col-xs-6"><div class="object__gallery-slider"><div><img src="images/object-gallery-1.jpg" /></div><div><img src="images/object-gallery-2.jpg" /></div><div><img src="images/object-gallery-1.jpg" /></div></div></div><div class="col-xs-6"><div class="object__gallery-slider"><div><img src="images/object-gallery-2.jpg" /></div><div><img src="images/object-gallery-1.jpg" /></div><div><img src="images/object-gallery-2.jpg" /></div></div></div></div></div><div class="container"><div class="row middle-xs between-md"><div class="col-xs-12 col-md-8"><div class="object__content"><p>Оборудование итальянской фирмы «Costan» было выбрано не случайно. Плавные формы, нацеленность на сегмент средний плюс и индивидуализация каждого проекта это как раз то, что искали собственники во время перезапуска сети под новым именем. Пристенные витрины Aeria на выносном холодообеспечении имеют электрические шторки, которыми можно управлять удаленно. Улучшенная эргономика витрины значительно увеличивает полезный объем и позволяет загрузить на 25% больше охлажденных продуктов. Безупречная стыковка в линию делает пристенные витрины Tesey визуально эстетичными.</p><p>Инновационная эргономика и открытый дизайн витрин Aurora SQ обеспечивает максимальную обзорность и видимость каждого товара покупателю. Прогрессивная система управления воздушными потоками создает идеальные условия для хранения любых видов товара.</p><p>Холодильную горку Tesey Slim отличают минималистичные нижняя и верхняя фронтальные панели и ультратонкие профили, которые расширяют площадь выкладки до уникальных значений. Наличие дверей-купе обеспечивает удобство доступа к продуктам.</p></div></div><div class="col-xs-12 col-md-3"><blockquote class="ta-center">«Дверцы на горках экономят 60% электроэнергии ежедневно»</blockquote></div></div></div><div class="row"><div class="col-xs-12"><div class="object__gallery"><div class="object__gallery-slider"><div><img src="images/object-gallery-3.jpg" /></div><div><img src="images/object-gallery-3.jpg" /></div><div><img src="images/object-gallery-3.jpg" /></div><div><img src="images/object-gallery-3.jpg" /></div></div></div></div></div><div class="container"><div class="row middle-xs between-md"><div class="col-xs-12 col-md-8"><div class="object__content"><p>В машинном отделении расположены 2 четырех-компрессорных агрегата на базе компрессоров Copeland. Технология впрыска пара и промежуточный теплообменник, который доохлаждает пары хладагента позволяет использовать компрессор на 30% эффективнее, а технология цифрового регулирования производительности 10-100% дает преимущество в экономии электроэнергии. </p><p>Конденсаторы Alfa Laval оснащены частотным регулированием производительности, что позволяет регулировать температуру кипения и экономить электроэнергию в размере 20-25% в сравнении с традиционной системой.</p><p>Для мониторинга работы оборудования, возникающих аварийных ситуаций и параметров энергопотребления, была  установлена система электронного управления на базе контроллеров WURM. При помощи данной системы реализованы следующие энергосберегающие технологии: плавающее давление кипения и плавающее давление конденсации. Все компоненты системы мониторинга смонтированы в шкаф управления, который  устанавлен в компрессорной. Система WURM координирует работу всего оборудования и дает возможность получать информацию по функционированию холодильной мебели в режиме онлайн.</p></div></div><div class="col-xs-12 col-md-3"><blockquote class="ta-center">«Система впрыска пара делает компрессор мощнее на 30%»</blockquote></div></div></div><article class="object__similar"><div class="container"><h3 class="object__similar__header">Другие объекты</h3><div class="row m-0"><div class="col-xs-12 col-md-4 p-0"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar1.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-md-4 p-0"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar2.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-md-4 p-0"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar3.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div></div></div></article></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/object.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    article.object
      figure.object__banner-image
        img src="images/object.jpg"
      .container
        .row.between-md
          .col-xs-12
            h2.object__header Гибербола
          .col-xs-12.col-md-7
            p Комплексная поставка, монтаж и проектирование холодильной системы в «центральный» гипермаркет Екатеринбурга. В результате банкротства торговой сети «Купец», собственники «Гринвича» купили магазин, расположенный в торговом центре и полностью обновили бренд, концепцию развития и торговый зал.
          .col-xs-12.col-md-4
            .row
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div 
                    | <span id="month">18</span><br/> месяцев
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div
                    | <span id="watt">1.5</span><br/> мВт
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div 
                    | <span id="furniture">60</span></br> ед. мебели
      
      .object__gallery  
        .row
          .col-xs-6
            .object__gallery-slider
              div
                img src="images/object-gallery-1.jpg"
              div
                img src="images/object-gallery-2.jpg"
              div
                img src="images/object-gallery-1.jpg"
          .col-xs-6
            .object__gallery-slider
              div
                img src="images/object-gallery-2.jpg"
              div
                img src="images/object-gallery-1.jpg"
              div
                img src="images/object-gallery-2.jpg"

      .container
        .row.middle-xs.between-md
          .col-xs-12.col-md-8
            .object__content
              p Оборудование итальянской фирмы «Costan» было выбрано не случайно. Плавные формы, нацеленность на сегмент средний плюс и индивидуализация каждого проекта это как раз то, что искали собственники во время перезапуска сети под новым именем. Пристенные витрины Aeria на выносном холодообеспечении имеют электрические шторки, которыми можно управлять удаленно. Улучшенная эргономика витрины значительно увеличивает полезный объем и позволяет загрузить на 25% больше охлажденных продуктов. Безупречная стыковка в линию делает пристенные витрины Tesey визуально эстетичными.
              p Инновационная эргономика и открытый дизайн витрин Aurora SQ обеспечивает максимальную обзорность и видимость каждого товара покупателю. Прогрессивная система управления воздушными потоками создает идеальные условия для хранения любых видов товара.
              p Холодильную горку Tesey Slim отличают минималистичные нижняя и верхняя фронтальные панели и ультратонкие профили, которые расширяют площадь выкладки до уникальных значений. Наличие дверей-купе обеспечивает удобство доступа к продуктам.
          .col-xs-12.col-md-3
            blockquote.ta-center «Дверцы на горках экономят 60% электроэнергии ежедневно»

      .row
        .col-xs-12
          .object__gallery
            .object__gallery-slider
              div
                img src="images/object-gallery-3.jpg"
              div
                img src="images/object-gallery-3.jpg"
              div
                img src="images/object-gallery-3.jpg"
              div
                img src="images/object-gallery-3.jpg"

      .container
        .row.middle-xs.between-md
          .col-xs-12.col-md-8
            .object__content
              p В машинном отделении расположены 2 четырех-компрессорных агрегата на базе компрессоров Copeland. Технология впрыска пара и промежуточный теплообменник, который доохлаждает пары хладагента позволяет использовать компрессор на 30% эффективнее, а технология цифрового регулирования производительности 10-100% дает преимущество в экономии электроэнергии. 
              p Конденсаторы Alfa Laval оснащены частотным регулированием производительности, что позволяет регулировать температуру кипения и экономить электроэнергию в размере 20-25% в сравнении с традиционной системой.
              p Для мониторинга работы оборудования, возникающих аварийных ситуаций и параметров энергопотребления, была  установлена система электронного управления на базе контроллеров WURM. При помощи данной системы реализованы следующие энергосберегающие технологии: плавающее давление кипения и плавающее давление конденсации. Все компоненты системы мониторинга смонтированы в шкаф управления, который  устанавлен в компрессорной. Система WURM координирует работу всего оборудования и дает возможность получать информацию по функционированию холодильной мебели в режиме онлайн.
          .col-xs-12.col-md-3 
            blockquote.ta-center «Система впрыска пара делает компрессор мощнее на 30%»

      article.object__similar
        .container
          h3.object__similar__header Другие объекты
          .row.m-0
            .col-xs-12.col-md-4.p-0
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar1.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-md-4.p-0
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar2.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-md-4.p-0
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar3.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
