dest/services.html
<!DOCTYPE html><!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head><meta charset="utf-8" /><meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" /><title>Gasse - завод по производству вибропрессованных изделий</title><meta content="" name="description" /><meta content="" name="keywords" /><meta content="width=device-width, initial-scale=1" name="viewport" /><script src="https://code.jquery.com/jquery-1.11.3.min.js"></script><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Mono&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i&amp;amp;subset=cyrillic" rel="stylesheet" /><link href="css/slick.css" rel="stylesheet" /><link href="css/slick-theme.css" rel="stylesheet" /><script src="js/slick.min.js"></script><script src="js/slideout.min.js"></script><script src="js/jquery.fancybox.min.js"></script><link href="css/jquery.fancybox.min.css" rel="stylesheet" /><script src="js/isotope.pkgd.min.js"></script><script src="js/jquery-ui.min.js"></script><link href="css/jquery-ui.min.css" rel="stylesheet" /><link href="css/main.css" rel="stylesheet" /><link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" /><link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /><link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /><link href="/manifest.json" rel="manifest" /><link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" /><meta content="#ffffff" name="theme-color" /></head><body><script>document.getElementsByTagName("body")[0].style.display = "none";</script><div id="panel"><div class="mobile-menu-column"><a class="menu-btn" href="#" id="mobile-menu-btn"><div class="icon-burger"></div></a></div><header class="header"><div class="container"><div class="row middle-xs center-xs start-md"><div class="col-lg-2 col-md-1 col-xs-12"><a class="header__logo" href="#"><img src="images/logo.png" /></a></div><div class="col-lg-8 col-md-10 hidden visible-md"><nav class="main-menu"><ul class="main-menu__list"><li class="main-menu__item"><a class="main-menu__link active" data-title="Услуги и проекты" href="/main_page.html">Услуги и проекты</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Оборудование" href="#">Оборудование</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Статьи" href="#">Статьи</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="О компании" href="#">О компании</a></li><li class="main-menu__item"><a class="main-menu__link" data-title="Контакты" href="#">Контакты</a></li></ul></nav></div><div class="col-lg-2 col-md-1 hidden visible-md"><a class="search-button" href="/search.html"><span>Поиск</span></a></div></div></div></header><main class="content"><div class="container"><div class="row"><div class="col-xs-12"><h1 class="h2">Дело лучше слова</h1></div></div><div class="row between-md"><div class="col-xs-12 col-md-7"><p>Мы начали в далеком 1997 году с монтажа небольших холодильных камер и торгового оборудвоания в магазины у дома. Сегодня, продолжая учиться и совершенствоваться, мы можем предложить помощь в любых вопросах холодоснабжения. От маленьких холодильных камер до складов хранения и гипермаркетов. Собственные инженерная, монтажная и сервисная службы позволяют брать на себя обязательства без привлечения третьих лиц и строго контролировать ход работ и результат. Убедитесь в этом сами, посмотрев наши проекты.</p></div><div class="col-xs-12 col-md-4"><div class="row"><div class="col-xs-12 col-lg-6"><div class="object__achievment-item"><div><span id="year">20</span> лет<br/> на рынке</div></div></div><div class="col-xs-12 col-lg-6"><div class="object__achievment-item"><div><span id="employee">60</span><br/> сотрудников</div></div></div><div class="col-xs-12 col-lg-6"><div class="object__achievment-item"><div><span id="objects">1500</span></br> объектов</div></div></div></div></div></div></div><article class="files"><div class="container"><div class="row"><div class="col-xs-12"><h3>Благодарности и документы</h3></div></div><div class="row"><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item pdf" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item pdf" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item pdf" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div><div class="col-xs-12 col-sm-6 col-md-3"><a class="files__item pdf" href="#"><div class="files__item__name">Письмо благодарности "Гипербола"</div><div class="files__item__size">2.2 Мб</div></a></div></div></div></article><article class="services-links-wrapper"><div class="container"><div class="row"><div class="col-xs-12"><nav class="services__menu"><ul class="services__menu__list"><li class="services__menu__item"><a class="services__menu__link service-animated-link active" data-href="*">Все </a></li><li class="services__menu__item"><a class="services__menu__link service-animated-link" data-href="retail">Ритейл </a></li><li class="services__menu__item"><a class="services__menu__link service-animated-link" data-href="meat">Мясокомбинаты </a></li><li class="services__menu__item"><a class="services__menu__link service-animated-link" data-href="chicken">Птицефабрика </a></li><li class="services__menu__item"><a class="services__menu__link service-animated-link" data-href="fish">Рыбозавод</a></li></ul></nav></div></div></div><div class="container"><div class="service-animated"><div class="row m-0"><div class="col-xs-12 col-sm-6 col-md-4 p-0 service__item__wrapper retail"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar1.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-sm-6 col-md-4 p-0 service__item__wrapper retail meat"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar2.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-sm-6 col-md-4 p-0 service__item__wrapper chicken"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar3.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-sm-6 col-md-4 p-0 service__item__wrapper fish meat retail"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar3.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-sm-6 col-md-4 p-0 service__item__wrapper meat chicken"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar2.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div><div class="col-xs-12 col-sm-6 col-md-4 p-0 service__item__wrapper retail chicken fish"><a class="object__similar__item" href="#"><figure class="object__similar__item__image"><img src="images/similar1.jpg" /></figure><section class="object__similar__item__content"><div class="object__similar__item__content__container"><p class="object__similar__item__header">Елисей</p><p class="object__similar__item__text">Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18</p></div></section></a></div></div></div></div></article></main><footer class="footer"><div class="container"><div class="row"><div class="col-xs-12"><p class="developer">Сайт разработан <a class="dev-link" href="#">Вениамином Рыбниковым</a></p></div></div></div></footer><script src="js/main.js"></script></div><div class="menu" id="menu"><a class="mobile-logo" href="#"><img src="images/logo.png" /></a><ul class="mobile-menu"><li class="mobile-menu__item"><a class="mobile-menu__link active" href="#">Услуги и проекты</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Оборудование</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Статьи</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">О компании</a></li><li class="mobile-menu__item"><a class="mobile-menu__link" href="#">Контакты</a></li></ul></div></body></html>

source/views/services.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do
    .container
      .row
        .col-xs-12
          h1.h2 Дело лучше слова
      .row.between-md
        .col-xs-12.col-md-7
          p Мы начали в далеком 1997 году с монтажа небольших холодильных камер и торгового оборудвоания в магазины у дома. Сегодня, продолжая учиться и совершенствоваться, мы можем предложить помощь в любых вопросах холодоснабжения. От маленьких холодильных камер до складов хранения и гипермаркетов. Собственные инженерная, монтажная и сервисная службы позволяют брать на себя обязательства без привлечения третьих лиц и строго контролировать ход работ и результат. Убедитесь в этом сами, посмотрев наши проекты.
        .col-xs-12.col-md-4
            .row
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div
                    | <span id="year">20</span> лет<br/> на рынке
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div
                    | <span id="employee">60</span><br/> сотрудников
              .col-xs-12.col-lg-6
                .object__achievment-item
                  div 
                    | <span id="objects">1500</span></br> объектов
    
    article.files
      .container
        .row
          .col-xs-12
            h3 Благодарности и документы
        .row
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
          .col-xs-12.col-sm-6.col-md-3
            a.files__item.pdf href="#"
              .files__item__name Письмо благодарности "Гипербола"
              .files__item__size 2.2 Мб
    
    article.services-links-wrapper
      .container
        .row
          .col-xs-12
            nav.services__menu
              ul.services__menu__list
                li.services__menu__item
                  a.services__menu__link.service-animated-link.active data-href="*" Все 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="retail" Ритейл 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="meat" Мясокомбинаты 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="chicken" Птицефабрика 
                li.services__menu__item
                  a.services__menu__link.service-animated-link data-href="fish" Рыбозавод
      .container 
        .service-animated 
          .row.m-0
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.retail
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar1.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.retail.meat
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar2.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.chicken
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar3.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.fish.meat.retail
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar3.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.meat.chicken
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar2.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
            .col-xs-12.col-sm-6.col-md-4.p-0.service__item__wrapper.retail.chicken.fish
              a.object__similar__item href="#"
                figure.object__similar__item__image
                  img src="images/similar1.jpg"
                section.object__similar__item__content
                  .object__similar__item__content__container
                    p.object__similar__item__header Елисей
                    p.object__similar__item__text Комплексное оснащение магазина в г.Екатеринбурге по ул.Шварца 18
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {body_class: 'main-page'})
